---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #131313;
$brand-color:      #2a7ae2;

$grey-color:       #ff0000;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-footer {
    border-top: 0px;
}

.site-header {
    border-bottom: 0px;
}

video {
    max-width: 100%;
    border-radius: 3px;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-home .film-home {
    float: right;
}
  
.project-home .music-home {
    float: left;
}

.project-home div {
    width: 50%;
}

.home-banner {
    text-align: center;
    margin: 5px;
}
  
.home-banner img {
    border-radius: 100%;
}
  
.project-home {
    margin-top: 65px;
}

.music-home-text {
    width: 360px !important;
    height: 360px;
    background-image: url("/images/forever-alone.jpg");
    background-position: center; 
    background-size: cover;
    border-radius: 3px;
}
  
.music-home-text h2 {
    padding-top: 33%;
    text-align: center;
    font-size: 64px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.music-home-text a {
    color: #fff;
}

video {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .project-home div {
        float: initial;
        width: 100%;
    }
}

.redirections-box {
    text-align: center;
    background-color: #000;
    padding: 56px;
}

.redirections-box span {
    font-size: 36px;
}