---
title: n0pe.org
layout: default
excerpt: "Linux nerd. Weekly host of Hack Night in Long Beach, CA. Open Source content creator and Fediverse advocate."
---

<div class="home">
<div class="home-banner">
  <img src="images/me.jpg">
  <h1>The Home of Arthur Reeder</h1>
  <p>
    Free Softare Nerd from California.
  </p>
  <p>
    I'm most active on Mastodon, you can follow me at <a target="_blank" href="https://mastodon.sdf.org/@art">@art@mastodon.sdf.org</a>.
  </p>
</div>
<div class="project-home">
</div>


</div>
