<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Follow Me</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a rel="me" target="_blank" href="https://mastodon.sdf.org/@art">Mastodon</a><br />
        <a target="_blank" href="https://peertube.mastodon.host/accounts/art/videos">PeerTube</a><br />
        <a target="_blank" href="https://pixelfed.social/arthur">PixleFed</a>
      </div>

      <div class="footer-col footer-col-2">
        <a target="_blank" href="https://www.instagram.com/arthuredwardreeder/">Instagram</a>
      </div>

      <div class="footer-col footer-col-3">

      </div>
    </div>

  </div>

</footer>
